a{
	@extend %text--accent;
	@extend %link-actions;
}

/**
.page--about{
	h1, h2, h3, .title-group a:hover, .nav--main a:hover, .nav__about{
		color: $base-accent-color;
	}
	
	.nav__about{
		cursor: text;
	}
}

.page--resources h1{
	color: $base-accent-color;
}

.page--home .nav__home, .page--blog .nav__blog, .page--about .nav__about, .page--resources .nav__resources{
	cursor: text;
	color: $base-accent-color;
}

figcaption{
	font-size: 80%;
}
 */




