/*------------------------------------*\
    $PAGE
\*------------------------------------*/
html{
	@include mq(750px){
		border-left: 6px solid $base-accent-color;
	}
	
	@include mq(750px, max) {
		border-top: 6px solid $base-accent-color;
	}
}

body{
	/* Positioning */
	
	/* Display and Box Modal */
	box-sizing: border-box;	
	width: 430px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
	padding-bottom: 2em;
	
	/* Color */
	color: $base-font-color;
	background-color: $base-bg-color;
	
	/* Text */
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 400;
	font-size: em($base-font-size);	
	line-height: $base-line-height;

	/* Other */
	@include mq(750px){
		width: 660px;
		font-size: em(21px);
	}
}

.site-main{
	margin-bottom: em($base-spacing-unit * 3);
}