.post__title{
    margin-bottom: 0;
}

.post__title, .post__date{
	text-align: center;
}

.post__date{
	margin-top: .4em;
	margin-bottom: 2em;
	font-size: 75%;
}

//.post__more{
//    display: block;
//}

figure > img{
    width: 100%;
}

.line-break{
	position: relative;
    text-align: center;
	
	span{
		position: relative;
		display: inline-block;
		background-color: $base-bg-color;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	@media all and (min-width: 500px){
		&:before{
			position: absolute;
			overflow: visible;
			z-index: -1;
			left: 0;
			top: 50%;
		
			font-family: $base-font-family;
			text-transform: lowercase;
		
			width: 100%;
			height: 1px;
			border-bottom: 1px dotted #dddddd;
			content: ' ';
		}
	}
}

.post__sub-title{
	margin-top: 1.5em;
}

.posts-list{
	@extend .flush;
		
	& > li{
		margin-bottom: 3.5em;
	}
}

p + h3{
	margin-top: 1.2em;
}

.list h5{
	font-weight: normal;
	font-size: 80%;
}

p a:hover, .intro a:hover, .list li a:hover, figcaption a:hover{
	text-decoration: underline;
}

.post .post__title a:hover{
	text-decoration: none;
}