

// Small
@media all and (min-width: 37.5em){
	
	.nav--main ul > li{
		border-top: 1px solid #b7b7b7;

		&:hover{
			background: transparent;
		}

	}
}


// Medium 

@media all and (min-width: 43.875em){

	.mtb12{
		margin-top: 72px;
		margin-bottom: 72px !important;
	}
	
	.ptb12{
		padding-top: 72px;
		padding-bottom: 72px !important;
	}
	
	.nav--main ul > li, .nav--main ul > li > a{
		display: inline-block;
	}
	
	nav[role="navigation"] .nav > li{
		border-top: none;

	}
	
	.btn-nav{
		display: none;
	}
	
}

// Medium Large

@media all and (min-width: 62.5em){
	
	.post-mini{
		width: 60%;
		max-width: 100%;
		vertical-align: inherit;
		margin-left: auto;
		margin-right: auto;
	}
	
	.post{
		width: 100%;
		max-width: 100%;
		vertical-align: inherit;
		margin-left: auto;
		margin-right: auto;
	}
		
}

// 1024 -- grid breakdown

@media all and (min-width: 64em){
	
	.hide-large{
		display: none;
	}
	.show-large{
		display: block;
	}
	
	.fig-small{
		display: block;
		width: 40%;
		margin-top: 30px;
	}
	
	.push--desk--one-tenth{
		left: 10%;
		position: relative;
	}

}


// Large

@media all and (min-width: 71.25em){	
 	.nav--main > ul > li.show-large{
		display: inline-block;
	}
}



