nav[role="navigation"].nav-is-open, .site-head.nav-is-open{
	height: auto;
}



@media all and (min-width: 1024px){
	.page--resources{
		
		.desk-one-half{
			width: 49%;
		}

		.desk-six-tenths{
			width: 59%;
		}
		
		.desk-four-tenths{
			padding-left: 24px;
		}
	}	
}

@media only screen and (min-width: 481px){
	.page--resources{
		.lap-and-up-one-half {
			width: 49%;
		}
		
		h3{
			padding-bottom: 10px;
			border-bottom: 1px solid #3a3a3a;
		}
	}
}
