a{
	-webkit-transition: color .2s ease;
	   -moz-transition: color .2s ease;
	     -o-transition: color .2s ease;
		    transition: color .2s ease;
}

.btn, .btn-small, .nav li, .btn-nav, .bar{
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	     -o-transition: all .2s ease;
		    transition: all .2s ease;
}


.likes{
	position: relative;
	
	li{
	    position: absolute;
	    opacity: 0;
	    overflow: hidden;
	    width: 100%;
	    color: #6b969d;
	}
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
    25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}