/* Default header styles */
h1, h2, h3, h4, h5, h6 {
	font-weight: $header-font-weight;
	
	small{
		font-size: 80%;
	}
	
	@media (min-width: 750px){
		line-height: $header-line-height;
	}
}

h1, .h1 { 
	//font-size: $h1-font-size - 10px;
	//font-size: $h1-font-calc - rem-calc(10); 
	font-size: em-calc($h1-font-size - 4);
	
	@media all and (min-width: 750px){
		font-size: em-calc($h1-font-size);
	}
}

h2, .h2 { 
	font-size: em-calc($h2-font-size - 6); 
		
	@media all and (min-width: 750px){
		font-size: em-calc($h2-font-size);
	}
	 
}

h3, .h3 { 
	font-size: em-calc($h3-font-size - 3); 
		
	@media all and (min-width: 750px){
		font-size: em-calc($h3-font-size);
	}
}

h4, .h4 { 
	font-size: em-calc($h4-font-size - 1); 
		
}

h5, .h5 { 
	font-size: em-calc($h5-font-size); 
}

h6, .h6 { 
	font-size: em-calc($h6-font-size); 
}

.subheader { @extend %subheader; }

/* Default paragraph styles */
p {
	text-rendering: $paragraph-text-rendering;

  	&.lead { @extend %lead; }
  
}
