$html-font-size: 		  100%;

$base-font-family:		  'Lato', sans-serif;
$base-bg-color:			  #f8f8f8;
$base-accent-color:       #e74c3c;

$header-font-weight:      400;
$header-font-family:      $base-font-family;


$small-font-size:		  75%;

$red: #E74C3C;
$green: #9c6;
$blue: #3498DB;
$off-white: #f9f9f9;
