/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
@mixin grid-media-query($media-query){
    $breakpoint-found: false;

    @each $breakpoint in $breakpoints{
        $name: nth($breakpoint, 1);
        $declaration: nth($breakpoint, 2);

        @if $media-query == $name and $declaration{
            $breakpoint-found: true;

            @media only screen and #{$declaration}{
                @content;
            }
        }
    }

    @if $breakpoint-found == false{
        @warn "Breakpoint ‘#{$media-query}’ does not exist"
    }
}


/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
@mixin silent-relative(){
    @if $use-silent-classes == true{
        position:relative;
    }
}


@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}


/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}


@mixin font-size($font-size, $line-height:true){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    @if $line-height == true{
        line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}

@mixin rem($property, $sizeValue: 1.6){
	#{$property}: strip-unit(($sizeValue * 10)) + px;
	#{$property}: strip-unit($sizeValue) + rem;
}

@mixin em($property, $sizeValue: 1.0){
	#{$property}: strip-unit(($sizeValue * 16)) + px;
	#{$property}: strip-unit($sizeValue) + em;
}

@mixin rem-font($sizeValue: 1.6) {
	font-size: strip-unit(($sizeValue * 10)) + px;
	font-size: strip-unit($sizeValue) + rem;
}

// Webkit-style focus
@mixin tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


// User select
// For selecting text on the page
@mixin user-select($select) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select; // IE10+
       -o-user-select: $select;
          user-select: $select;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: unquote("alpha(opacity=#{$opacity-ie})");
}



// Button variants
// -------------------------
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 8%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border
    }
  }
}

// Message variants
// -------------------------
// Easily pump out default styles for all messages
@mixin message-variant($color, $background) {
  color: $color;
  background-color: $background;
}





// Panels
// -------------------------
@mixin panel-variant($border, $bg-color) {
  border-color: $border;
  & > .panel-header {
    background-color: $bg-color;
    border-color: $border;
  }
  
  & > .panel-footer {
	  border-top-color: $bg-color;
  }
  
  
}



// Form control focus state
//
// Generate a customized focus state and for any input with the specified color,
// which defaults to the `$input-focus-border` variable.
//
// We highly encourage you to not customize the default value, but instead use
// this to tweak colors on an as-needed basis. This aesthetic change is based on
// Web-kit's default styles, but applicable to a wider range of browsers. Its
// usability and accessibility should be taken into account with any change.
//
// Example usage: change the default blue border and shadow to white for better
// contrast against a dark gray background.

@mixin form-control-focus($color: $input-border-focus) {
  $color-rgba: rgba(red($color), green($color), blue($color), .6);
  &:focus {
    border-color: $color;
    outline: 0;
    //@include box-shadow(unquote("inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #{$color-rgba}"));
  }
}


// CSS3 PROPERTIES
// --------------------------------------------------

// Single side border-radius
@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}


/**
 *  Calculates any number of margins and paddings in one swoop
 * 
 * Running this is as easy 
 * @include vertical-calc(1, 12) {}
 *
 */

$base-vertical-grid: 6;
$base-divide: 10;

@mixin vertical-calc($from: 1, $to: 12, $grid: $base-vertical-grid){
    @if $from >= 1 and $to <= 12{
        @for $i from $from through $to{
            .mt#{$i}{
				margin-top: ($grid * $i) + px;
				margin-top: ($grid * $i)/$base-divide + rem;
				@content
            }

			.mb#{$i}{
				margin-bottom: ($grid * $i) + px;
				margin-bottom: ($grid * $i)/$base-divide + rem;
				@content
            }

			.mtb#{$i}{
				@extend .mt#{$i};
				@extend .mb#{$i};
			}
			
			.pt#{$i}{
				padding-top: ($grid * $i) + px;
				padding-top: ($grid * $i)/$base-divide + rem;
				@content
            }

			.pb#{$i}{
				padding-bottom: ($grid * $i) + px;
				padding-bottom: ($grid * $i)/$base-divide + rem;
				@content	
            }

			.ptb#{$i}{
				@extend .pt#{$i};
				@extend .pb#{$i};
			}
			
        }
    }
}

