/**
 * Non-fluid images if you specify `width` and/or `height` attributes.
 */
img[width],
img[height]{
    max-width:none;
}

/**
 * Rounded images.
 */
.image--rounded { 
	border-radius: $base-border-radius; 
}

/**
 * Circle images.
 */
.image--circle { 
	border-radius: 50%; 
}

/**
 * Tumbnail images.
 */
.image--thumbnail { 
	padding: 4px;
	border: 1px solid $base-ui-color;
}


/**
 * Image placement variations.
 */
.image--right{
    float:right;
    margin-bottom: $base-spacing-unit;
    margin-left: $base-spacing-unit;
}
.image--left{
    float:left;
    margin-right: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;
}
.image--center{
    display:block;
    margin-right:auto;
    margin-bottom: $base-spacing-unit;
    margin-left:auto;
}