/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li{
    > ul,
    > ol,
	> dt{
         margin-bottom: 0;
     }
}

ul{
	list-style-type: disc;
}

.unstyled{
	list-style-type: none;
}

.nav{
	list-style-type: none;
	margin-left: 0;
	
	& > li, & > li > a{
		display: inline-block;
		zoom: 1;
	}
	
	& > li{
		padding: 0 5px;
	}
	
	
}

/**
 * Have a numbered `ul` without the semantics implied by using an `ol`.
 */
/*ul*/.numbered-list, ol{
    list-style-type: decimal;
}
