//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing

@if $global-border-box == true{
    /**
    * Let’s make the box model all nice, shall we...?
    */
    *{
        &,
        &:before,
        &:after{
            @include vendor(box-sizing, border-box);
        }
    }
}


// Body reset

html {
	font-size: $html-font-size;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow-y:scroll;
    min-height:100%;
}

html, body{
	//font-size: 100%;
}

body{
	background-color: $base-bg-color;
	
	font-size: $body-font-size;
	font-family: $base-font-family;
	line-height: 1.6;
}





