.g, .grid {
	float: none;
	display: inline-block;
	padding-left: 0;
	vertical-align: top;
}


.head-container{
	height: auto;
	max-height: 100%;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
}

.wrapper{
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em;
	@extend .cf;
}

/**
 * Add/remove margins
 */
.flush          { margin:       0; }
.flush--top     { margin-top:   0; }
.flush--right   { margin-right: 0; }
.flush--bottom  { margin-bottom:0; }
.flush--left    { margin-left:  0; }
.flush--ends    { margin-top:   0; margin-bottom:0; }
.flush--sides   { margin-right: 0; margin-left:  0; }


hr{
	border-top: 1px solid rgba(6,8,8,0.12);
	border-bottom: 1px solid rgba(255,255,255,0.15);
}

.show-large, nav[role="navigation"] .nav > li.show-large{
	display: none;
}

blockquote {
	padding-left: 12px;
	border-left: 8px solid rgba(231,76,60,0.2);
}

.preload {
	display: none !important;
}

.fig-small{
	display: none;
}

.red{
	color: $base-accent-color;
}

%text--accent{
	color: $base-accent-color;
}

%text-primary{
	color: $base-font-color;
}

%link-actions{
	text-decoration: none;
	
	&:hover{
		color: darken($base-accent-color, 10%);
		
		text-decoration: underline;
	}
}
