/**
 * The usual...
 */
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr{
    margin:0;
    padding:0;
}

/**
 * My preferred styles for the html element from the start
 */ 
html{
	overflow-y: scroll;
	min-height: 100%;
	
	@include vendor(text-size-adjust, none);
}


/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],dfn[title]{
    cursor:help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
u,ins{
    text-decoration:none;
}

/**
 * Apply faux underline via `border-bottom`.
 */
ins{
    border-bottom:1px solid;
}

/**
 * So that `alt` text is visually offset if images don’t load.
 */
img{
    font-style:italic;
}


/**
 * Give form elements some cursor interactions...
 */
label,
input,
textarea,
button,
select,
option{
    cursor:pointer;
}
    .text-input:active,
    .text-input:focus,
    textarea:active,
    textarea:focus{
        cursor:text;
        outline:none;
    }


// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  color: $base-link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($base-link-color, 5%);
    text-decoration: underline;
  }

  &:focus {
    //@include tab-focus;
  }
}


// Images

img {
  vertical-align: middle;
  max-width: 100%; /* Set images to the full width of parent */
}

// Horizontal rules

hr {
  border: 0;
  border-top: 1px solid $base-ui-color;
}


/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: $small-font-size;
  line-height: inherit;
}

