/*------------------------------------*\
    $NAV
\*------------------------------------*/

.nav {
	display: inline-block;
	
	& > li{
		display: inline-block;
	}
}

.site-nav{
	@extend .flush--left;
	@extend .flush--bottom;
	
	a{
		padding-left: em(8px);
		padding-right: em(8px);
		
		color: #333333;
	
		&:hover{
			color: $base-accent-color;
		}
	}
}

.title-group, .nav > li, .nav > li > a, .nav, nav{
	display: inline-block;
	vertical-align: top;
}

.posts-list{
	list-style: none;
}

/*-----------------------------

Pagination Nav Styles

-----------------------------*/

.pagination > li{
	display: inline-block;
	
}

.pagination > li > a{
	display: inline;
}

.pagination__prev{
	text-align: left;
}

.pagination__next{
	text-align: right;
}

